---
interface Challenge {
  name: string;
  challenge_url: string;
  frontendmentor_url: string;
}
interface Solution {
  github_url: string;
  repository: string;
}
interface Author {
  name: string;
  handle: string;
}
interface Website {
  url: string;
}

import site from "../data/site.json";
const {
  challenge,
  solution,
  author,
  website,
}: {
  challenge: Challenge;
  solution: Solution;
  author: Author;
  website: Website;
} = site;

---

<div class="attribution">
    <p class="challenge">
        <a href={challenge.challenge_url} target="_blank">
            {challenge.name} challenge
        </a> by
        <a href={challenge.frontendmentor_url} target="_blank">
            Frontend Mentor
        </a>
    </p>
    <p class="solution">
        <a href=`${solution.github_url}/${author.handle}/${solution.repository}` target="_blank">
            Solution
        </a> by
        <a href={website.url} target="_blank">
            {author.name}
        </a>
    </p>

</div>

<style>
    .attribution {
        font-family: monospace;

        p {
            padding: 0;
        }
        a {
            display: inline-block;
            color: var(--primary);
            text-decoration: none;
            
            &:hover {
                color: var(--secondary);
            }
        }

    }

    :is(.challenge, .solution) {
        width: fit-content;
        margin-inline: auto;
    }
    
    .challenge {
        background-color: var(--primary);
    }

    .solution {
        background-color: var(--secondary);
    }
</style>