---
import Footer from "../components/Footer.astro";
import Attribution from "../components/Attribution.astro";

import '../styles/reset.css';
import '../styles/utils.css';
import '../styles/global.css';

interface Site {
  site_title: string;
  site_description: string;
  challenge: string;
}

import site from '../data/site.json';
const {site_title, site_description, challenge}: Site = site;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" property="og:description" content={site_description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{challenge} | {site_title}</title>
  </head>

  <body>
    <main>
      <div class="header">
        <h1>{challenge}</h1>
        <Attribution />
      </div>
        <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .header {
    text-align: center;
    padding-block: 2em;
  }
</style>